{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={%  static "stylesheets/index.css" %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title> Home Page</title>
</head>

<body>

    <h1 class="text-center "> VERNON SCHOOL </h1>
   <div class="container-fluid main d-flex flex-column justify-content-center">
    <div class="row ">
        
        <div class="col-6">
            <div class="text-center card1 p-3">
                <h1>Admission section</h1>
                <a href="/adm/add"><button class="mb-3 btnn">New admission</button></a>
                <br>
                <a href="/adm/rep"><button class="mb-3 btnn">Admission Report</button></a>
            </div>
        </div>
        <div class="col-6">
            <div div class="text-center card1 p-3">
                <h1>Finance section</h1>
              <a href="/fin/feepay"> <button class="mb-3 btnn">Pay your Fee</button> </a> 
                <br>
               <!-- <form action="/fin/feepaid">
                <input type="hidden" name = "nm" value = {{name}}>
                <input type="hidden" name = "am" value = {{amount}}>
                <input type="hidden" name = "cl" value = {{class}}>
               <button type = "submit" class="mb-3 btnn">payment status</button>
                </form> -->
                <a href="/fin/feepaid"> <button class="mb-3 btnn">payment status</button> </a>
               <br>
               <a href="/fin/feedue"> <button class="mb-3 btnn">Fee due report</button> </a>
               <br>
             
            </div>
        </div>
        
    </div>
    
   </div>
   
    
</body>

</html>
